header  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    border-bottom-width: 1px;
    height: 73px;
    margin: -8px -8px 0px -8px;
    }

h1  {
    padding: 17.5px;
    color: #eee;
    width: 17%;
    background: #4aaaa5;
    margin: -63px 0px 0px 250px;
    
    }

body    {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/Ed_g2s_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }


.navbar{
    text-align: right;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0px 250px 0px 0px;
}