header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    height: 100px;
    margin: -8px -8px 0px -8px;
}

h1{
    padding: 18px;
    color: #eee;
    width: 17%;
    height: 50%;
    background: #4aaaa5;
    margin: -83px 0px 0px 240px;
    float: left;
    padding-top: 33px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/Ed_g2s_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar{
    text-align: right;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0px 250px 0px 0px;
    padding-bottom: 1px;
}

.box{
    padding: 50px;
    margin: 40px 256px 40px 230px;
    background: white;
    padding-top: 90px;
    border: 1px solid lightgrey;  
}

.contact-box{
    padding: 50px;
    margin: 40px 256px 40px 230px;
    background: white;
    padding-top: 92px;
    border: 1px solid lightgrey; 
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

#main-bio{
    margin: 0px 377px 0px 185px;   
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: #777777;
}

#bio-image{
    margin: -189px 0px 56px -187px;
}

a:link{
    color: lightgray;
    text-decoration: none;
}

li{
    display: inline;
    padding: 20px;
    height: 10px;
}

p{
    width: 580px;
    font: green;
}


footer{
    background:#666666;
    padding: 25px;
    margin: 0px -25px 0px -25px;
    position: sticky;
    border-top: 8px solid #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    color: #cccccc;
    text-align: center;
    margin: 0px -8px 0px -8px;
}

.contact-header{
    color: #4aaaa5;
    background: none;
    margin: -85px 0px 0px -19px;
}

.bio-header{
padding: 57px 0px 0px 0px;
margin: -118px 0px 0px 0px;
background: none;
color: #4aaaa5;
float: left;
width: 47%;
}

.portfolio-box{
    background: white;
    margin: 38px 270px 36px 224px;
    padding: 120px 0px 368px 0px;
    border: 1px solid lightgrey;
}

.port-header{
    background: none;
    color: #4aaaa5;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 26px;
    float: left;
}

.portfolio-boxes{
    padding: 0px 0px 0px 229px;
    margin: 40px 0px 0px 0px;
}

.box-set {
    position: relative;
    height: 400px;
}

#hang{
    margin: 0px 40px 0px 55px;
    position: relative;
}

#RPG{
    margin: 0px 0px 0px 67px;
}

#Trivia{
    margin: 0px 0px -186px -380px;
    overflow: auto;
}

#Widget{
    margin: 0px 0px -185px 69px;
}

#Rock{
    margin: 0px 0px -341px -377px;
}

.hang-link{
    margin: 518px -267px 37px 72px;
    background: #4aaaa5;
    position: relative;
    font-size: 18px;
    width: 16%;
    padding: 7px;
    text-align: center;
    color: white;
    float: left;
    overflow: auto;
}

.trivia-link{
    margin: 118px -222px 0px 72px;
    background: #4aaaa5;
    position: relative;
    font-size: 18px;
    width: 16%;
    padding: 7px;
    padding-left: 1px;
    padding-right: 5px;
    text-align: center;
    color: white;
    float: left;
    overflow: auto;   
}

.rpg-link{
    margin: -498px -276px 34px 579px;
    background: #4aaaa5;
    position: relative;
    font-size: 17px;
    width: 10%;
    padding: 8px;
    text-align: center;
    color: white;
    float: left;
    overflow: auto;
}

.widget-link{
    margin: -299px -267px 37px 577px;
    background: #4aaaa5;
    position: relative;
    font-size: 15px;
    width: 10%;
    padding: 10px;
    padding-right: 17px;
    padding-left: 0px;
    text-align: center;
    color: white;
    float: left;
    overflow: auto;
}

.rock-link{
    margin: -279px -267px 37px 72px;
    background: #4aaaa5;
    position: relative;
    font-size: 15px;
    width: 15%;
    padding: 7px;
    text-align: center;
    color: white;
    float: left;
    overflow: auto;
}

#box{
    background: white;
    width: 67%;
    margin: 33px 0px 51px 227px;
    border: 1px solid lightgray;
}

.port-hor{
    width: 94%;
}